{% load static %}

<!doctype html>
<html lang="en">
  <head>
  
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <title>House of San</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <header>
      <a href="#" class="logo">House of<span> SAN</span></a>
      <div class="bx bx-menu" id="menu-icon"></div>

      <ul class="navbar">
          <li><a href="#">Shop</a></li>
          <li><a href="#">New Arrival</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Contacts</a></li>
      </ul>
    </header>


    <!---Home--->
    <section class="home" id="home">
        <div class="home-text">
            <h1><Span>Your</Span> Home <br> Your <span>SAN</span>ctuary</h1>
            <p>We bring your a range of the beautiful items, mostly handmade, <br> from native parts of the world, welcome to our SANctuary.<br></p>
            <a href="shop" class="btn">Shop Now</a>
        </div>
     </section>  
     <!-- Shop --> 
     <section class="shop" id="shop">
        <div class="heading">
            <span>New Arrival</span>
            <h2>Shop Now</h2>
        </div>
        <!-- Content -->
        <div class="shop-container">
            <!-- Box -->
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/san1.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <!-- Box -->
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/san7.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <!-- Box -->
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/thedoor.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <!-- Box -->
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/san4.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>

                    </div>
                </div>
                <span>R 450</span>
            </div>
            <!-- Box -->
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/bath.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                <i class='bx bx-cart' ></i>

                    </div>
                </div>
                <span>R 450</span>
            </div>
            <!-- Box -->
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/candles.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/wine1.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/san2.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                      
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
             <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/wine2.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                      
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/apples.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
             <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/garden.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/peace.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/dinner.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Dinner Set</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 650</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/newone1.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Flower Pot</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/baby.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Happiness</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                
                <span>Priceless</span>
                
            </div>
          </div>
           <div class="shop-container">
            <!-- Box -->
            
        </section>
        <!-- New Arrival -->
        <section class="new" id="new">
          <div class="heading">
            <span>New Collection</span>
            <h2>Best Selling</h2>
          </div>

          <!-- Content -->
          <div class="new-container">
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/xhosa.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            
          </div>
        </section>
        <section class="new" id="new">

          <!-- Content -->
          <div class="new-container">
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/couch.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/wood.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/mats.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/earth.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/perspective.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
            <div class="box">
                <div class="box-img">
                    <img class src="{% static 'images/together.jpg' %}" alt="">
                </div>
                <div class="title-price">
                    <h3>Garden Pots</h3>
                    <div class="stars">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star-half' ></i>
                      <i class='bx bx-cart' ></i>
                    </div>
                </div>
                <span>R 450</span>
                
            </div>
          </div>
          
        </section>
        <!-- About -->
        <section class="about" id="about">
            <div class="about-img">


   
  </body>
</html>
